.row3{
    padding-top: 5%;
    padding-bottom: 2%;
}
.form-control-feedback {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.form-control {
  padding-left: 30px!important;
}

#captcha{
  transform: scale(0.65);
  transform-origin: 0 0;
}